.fondo{
    background-color: rgb(14, 11, 12);
    color :rgb(208, 214, 214);
    font-family: 'Poppins', sans-serif;
    
}

.letra{
    
    color: rgb(239, 181, 198);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.formulario {
    display: grid;
    
    justify-items: center;
    align-items: center;
}